@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }
 /* index.css */
@import "leaflet/dist/leaflet.css";

/* Add smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Offset for fixed navbar */
section {
  scroll-margin-top: 80px;
}
